.pai-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffff;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.container-senha{
    width: 70vw; 
    height: 80%; 
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 39px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    margin: 20px 150px 20px;
    z-index: 7;
    position: relative; 
    display: flex; 
    justify-content: center; 
    padding: 40px; 
}

.imgum-telalogin{
    display: flex;
    width: 50%; 
    justify-content: space-between;
    margin-right: 100px;
   
}

.container-redefinir{
    flex-direction: column; 
    align-items: center; 
    margin-top: 70px;
}

.logo-telalogin {
    width: 85%;
    margin-left: 15px;
    margin-top: 10px;
}

.container-redefinir h2{
    font-size: 35px;
    text-align: center; 
    margin: 0;
    /* margin-bottom: 10px;
    margin-right: 15px; */
}

.container-redefinir p{
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
    

}

.container-redefinir input{
    width: 60%;
    height: 5px;
    color: #919890;
    background-color: #ffff;
    flex-direction: column;
    padding: 1rem;
    margin-top: 15px;
    margin-left: 65px;
    border: 0.5px solid #3F463E;
    border-radius: 5px; 
}

.btn-redefinir{
    width: 15vw;
    background-color: #6BBF59;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px; 
    border: none; 
    border-radius: 5px; 
    margin-left: 105px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 15px; 
}

.retornar-login{
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    color: #919890; 
    border: none; 
    padding: 5px 10px; 
    margin: 10px 10px 0 135px;
    cursor: pointer; 
}

@media  screen and (max-width: 768px){
    .container-senha{
        width: 40vw;
        padding: 15px;
        left: 10%;
        /* margin: 0; */
        display: flex; /* Usando flexbox */
        flex-direction: column; /* Organizando os itens verticalmente */
        justify-content: center;
        align-items: center; /* Centraliza os itens no eixo transversal (horizontal) */
        height: auto; /* Permite que a altura seja dinâmica */
    }

    .cad-input-redefinir{
        margin-left: 45px !important;
    }

    .btn-redefinir{
        margin-left: 90px !important;
    }

    .retornar-login{
        margin-left: 87px !important;
    }
}

@media  screen and (max-width: 425px){
    .container-senha{
        position: absolute;
        width: 55vw !important;
        height: 85vh !important;
        left:30% !important;
        margin: 0 !important;
        display: flex; /* Usando flexbox */
        flex-direction: column; /* Organizando os itens verticalmente */
        justify-content: center;
        align-items: center; /* Centraliza os itens no eixo transversal (horizontal) */
       
    
    }

    .logo-telalogin{
        width: 50vw !important;
        margin-left: 10px !important;
    }

    .container-redefinir h2{
        font-size: 24px !important;
    }

    .container-redefinir p{
        font-size: 12px !important;
        margin-left: 10px;
    }

    .cad-input-redefinir{
        margin-left: 30px !important;
    }

    .btn-redefinir{
        width: 35vw !important;
        margin-left: 40px !important;
    }

    .retornar-login{
        margin-left: 50px !important;
    }

}

@media  screen and (max-width: 375px){
    .container-senha{
        position: absolute;
        width: 55vw !important;
        height: 85vh !important;
        left:30% !important;
        margin: 0 !important;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
    
    }

    .logo-telalogin{
        width: 50vw !important;
        margin-left: 10px !important;
    }

    .container-redefinir h2{
        font-size: 24px !important;
    }

    .container-redefinir p{
        font-size: 12px !important;
        margin-left: 10px;
    }

    .cad-input-redefinir{
        margin-left: 25px !important;
    }

    .btn-redefinir{
        width: 35vw !important;
        margin-left: 35px !important;
    }

    .retornar-login{
        margin-left: 40px !important;
    }
}

@media  screen and (max-width: 320px){
    .container-senha{
        position: absolute;
        width: 55vw !important;
        height: 85vh !important;
        left:30% !important;
        margin: 0 !important;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
    
    }

    .logo-telalogin{
        width: 50vw !important;
        margin-left: 10px !important;
    }

    .container-redefinir h2{
        font-size: 24px !important;
    }

    .container-redefinir p{
        font-size: 12px !important;
        margin-left: 10px;
    }

    .cad-input-redefinir{
        width: 30vw !important;
        margin-left: 23px !important;
    }

    .btn-redefinir{
        width: 35vw !important;
        font-size: 12px !important;
        margin-left: 25px !important;
    }

    .retornar-login{
        font-size: 12px !important;
        margin-left: 30px !important;
    }
}