/* CONTAINER NAVBAR */

.container-telatrilha {
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: transparent

}

.container-navbar{
  position: absolute; 
  width: 100%; 
  top: 20px; 
  display: flex; 
  justify-content: center; 
   
}



.container-navbar a{
    position: relative;
    z-index: 7;
    color: #000; 
    text-decoration: none; 
    margin-bottom: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn-login-telatrilha{
    position: absolute; 
    top: 15px; 
    right: 30px; 
    display: flex;
    align-items: center;
}

.btn-login-telatrilha button{
    background: none; 
    border: 0.5px solid #000; 
    border-radius: 0;
    color: #000; 
    padding: 8px 25px; 
    cursor: pointer; 
    text-decoration: none;
    
}


.container-logo-telatrilha {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 10px; /* Espaço abaixo do logo, ajuste conforme necessário */
}

.container-logo-telatrilha img{
    width: 60%;
    margin-left: 40px;
    margin-top: 10px;
}

.container-titulo-alt-trilha{
    display: flex;
    flex-direction: column;
}

.container-titulo-alt-trilha h2{
    font-size: 36px;
    text-align: center;
    z-index: 7;
    margin: 30px 10px 20px 0;
}

.container-titulo-alt-trilha h2 .highlight{
    color: #6BBF59; 
    margin: 5px;
}



.retang-coleta-telatrilha{
    position: absolute; 
      z-index: 1;
      top: 125px; 
      left: 32%; 
      display: flex;
      margin: 0;
}

.container-titulo-alt-trilha p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: center;
    margin: 0 10px 5px 5px;
}


.container-principal {
    display: flex;  
    justify-content: space-around; 
    margin-top: 50px !important;
}

.quest-tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.quest-tit h3{
    font-size: 30px;
    color: #000;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
 
}


.container-um-quests {
    width: 40vw;
    height: 50vh;
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    padding: 40px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: space-between; 
}

.inputs-quests-um, 
.inputs-quests-dois, 
.inputs-quests-tres{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Estilo para os inputs */
.input-quest-trilha,
.input-quest {
    width: 10%; 
    /* height: auto; */
    background-color: #6BBF59;
    border: 0.5px solid transparent;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
  
}

/* Estilo para os inputs de texto */
.text-input-um,
.text-input-dois,
.text-input-tres {
    width: 70%;
    /* height: auto; */
    border: 0.5px solid transparent;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.5em;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    
}



.container-dois-badge {
    width: 40vw; 
    height: 50vh; 
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    padding: 40px; 
    
}

.badge-tit{
    display: flex;
    justify-content: center;
}

.badge-tit h3{
    font-size: 30px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 30px;
   
}

.container-inputs-badge{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
}

.input-imagem {
    width: 1vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    /* margin-bottom: 170px; */
    padding: 25px 80px 60px ; 
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 60%; 
}

.input-texto, .input-descricao {
    width: 100%; 
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.input-descricao {
    height: 100px; 
}