.container-header{
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: transparent
}

.container-navbar{
    position: absolute; 
    width: 100%; 
    top: 20px; 
    display: flex; 
    justify-content: center; 
     
  }
   
  
.container-navbar a{
      position: relative;
      z-index: 7;
      color: #000; 
      text-decoration: none; 
      margin-bottom: 15px;
      margin-left: 20px;
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
.btn-login-telacrud{
      position: absolute; 
      top: 15px; 
      right: 30px; 
      display: flex;
      align-items: center;
  }
  
.btn-login-telacrud button{
      background: none; 
      border: 0.5px solid #000; 
      border-radius: 0;
      color: #000; 
      padding: 8px 25px; 
      cursor: pointer; 
      text-decoration: none;
      
  }
    
.container-logo-telacrud {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-bottom: 10px; 
      
  }
  
.container-logo-telacrud img{
      width: 60%;
      margin-left: 40px;
      margin-top: 10px;
}

.container-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container-admin img {
    max-width: 100%; 
    height: auto; 
    margin: 0px 0 0px 5px;
}


.container-admin h2{
    text-align: center;
    margin-bottom: 2px;
  
    margin-top: 5px;
    font-size: 24px;
}

.container-admin h2 .highlight {
    color: #6BBF59; 
    
}

.container-admin p{
    font-size: 16px;
    text-align: center;
    margin: 0 0px 10px;
    
}

.pai-container-icones {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    margin-right: 65px;
}

.container-icon-um,
.container-icon-dois,
.container-icon-tres,
.container-icon-quatro,
.container-icon-cinco,
.container-icon-seis {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.container-icon-um img,
.container-icon-dois img,
.container-icon-tres img,
.container-icon-quatro img,
.container-icon-cinco img,
.container-icon-seis img{
    width: 70px; 
    height: auto; 
    margin-top: 45px;
    margin-left: 60px;
  
}



.icon-titulo {
    font-size: 16px;
    margin: 5px 0 5px 60px;
}

.icon-texto {
    font-size: 14px; 
    margin: 0 0 0 60px;
}

@media  screen and (max-width: 768px){
    .pai-container-icones{
        width: 93vw;
        margin: 0;
        gap: -10px;
    }
}

@media  screen and (max-width: 425px){
    .container-header{
        width: 100%;
    }

    .container-navbar{
        width: 100%;
        /* gap: 10px; */
    }

    .container-logo-telacrud img{
        width: 12vw !important;
        margin: 10px !important;
        
    }

    .container-admin p{
        font-size: 14px;
    }

    .pai-container-icones{
        display: flex;
        flex-direction: column;
    }

}

@media  screen and (max-width: 375px){
    .container-header{
        width: 100%;
    }

    .container-navbar{
        width: 100%;
        /* gap: 10px; */
    }

    .container-logo-telacrud img{
        width: 12vw !important;
        margin: 10px !important;
        
    }

    .container-admin img {
        margin-left: 25px;
    }

    .container-admin h2 {
        margin-left: 15px;
    }

    .container-admin p{
        margin-left: 10px;
        font-size: 12px;
    }

    .pai-container-icones{
        display: flex;
        flex-direction: column;
    }

}








