.container-addartigos{
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: transparent
}

.container-navbar{
    position: absolute; 
    width: 100%; 
    top: 20px; 
    display: flex; 
    justify-content: center; 
     
  }
   
  
.container-navbar a{
      position: relative;
      z-index: 7;
      color: #000; 
      text-decoration: none; 
      margin-bottom: 15px;
      margin-left: 20px;
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
.btn-login{
      position: absolute; 
      top: 15px; 
      right: 30px; 
      display: flex;
      align-items: center;
  }
  
.btn-login button{
      background: none; 
      border: 0.5px solid #000; 
      border-radius: 0;
      color: #000; 
      padding: 8px 25px; 
      cursor: pointer; 
      text-decoration: none;
      
  }
    
.container-logo {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-bottom: 10px; 
      
  }

   
.container-logo img{
      width: 60%;
      margin-left: 40px;
      margin-top: 10px;
}

 /* container noticia */

.container-tit{
    display: flex;
    flex-direction: column;
    
    
}


.container-tit h3{
    font-size: 36px;
    text-align: center;
    z-index: 7;
    
}

.container-tit h3 .highlight {
    color: #6BBF59; 
    
}

.retang-coleta{
position: absolute; 
  z-index: 1;
  top: 130px; 
  left: 32%; 
  display: flex;
  margin: 0;
}

.pai-container-addnoticia{
    width: 80vw; 
    height: 100vh; 
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 39px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    margin: 20px 80px 20px;
    z-index: 7;
    position: relative; 
    display: flex; 
    justify-content: center; 
    padding: 40px; /* Ajuste conforme necessário */
  }

.container-info-crud{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.container-info-crud input{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16); */
    margin-top: 90px;
    margin-left: 50px;
    justify-content: end; 
    padding: 10px 30px 30px ; /* Ajuste conforme necessário */
}

.container-info-crud button{
    width: 100px;
    background-color: #6BBF59;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
}

.container-addnoticia{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* margin-top: 15%;
    margin-right: 85px; */
}


.container-addnoticia input{
    width: 30%; 
    /* height: 80%;  */
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16); */
    margin: 20px 290px 20px;
    justify-content: end; 
    padding: 20px; /* Ajuste conforme necessário */
} 



.container-addnoticia textarea{
    width: 50%; 
    /* height: 80%;  */
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16); */
    margin: 20px 150px 20px;
    z-index: 7;
    position: relative; 
    display: flex; 
    justify-content: center; 
    padding: 100px  20px; /* Ajuste conforme necessário */
}





.noticias-list h3{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}



