@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inicio-apresetaçao {
  background-image: url('/img/group.svg'); 
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat; 
  position: absolute; 
  bottom: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  z-index: 1; /* Garante que outros elementos podem sobrepor */
}

.limitar-container {
  position: relative;
  z-index: 2; /* Assegura que o conteúdo da limitar-container fique acima da imagem de fundo */
  padding: 5%; 
}

.img-logo {
  width: 50%;
  margin: 0 auto; 
  display: block; 
  position: relative;
  padding: 10px 0;
  z-index: 3; /* Garante que a logo fique acima dos outros elementos */
}

.titulo-sessao {
  font-size: 4vw; 
  color: #000; 
  width: 100%; 
  padding: 20px 0;
  z-index: 4; /* Garante que o título fique acima dos outros elementos */
  text-align: center; 
  font-family: 'Poppins', sans-serif;
  
}

/* @media screen and (min-width: 1080px) and (max-width: 2400px) {
  .inicio-apresetaçao{
    display:flex;
    width: 100vw;
    
  }

  .limitar-container{
    width: 100vw;
    
  }

  .img-logo {
    display: flex;
    width: 70vw;
    margin: 15em 6em;

  }

  .titulo-sessao{
    font-size: 70px;
  }
} */


@media  screen and (max-width: 768px) {
  .inicio-apresetaçao{
    display:flex;
    width: 100vw;
    
  }

  .limitar-container{
    width: 100vw;
    
  }

  .img-logo {
    display: flex;
    width: 70vw;
    margin: 3em 4em;

  }

  
}

@media screen and (max-width: 425px) {
  .inicio-apresetaçao{
    display: flex;
    width: 100vw;
  }

  .limitar-container{
    width: 100vw;
    
  }

  .img-logo {
    display: flex;
    width:65vw;
    margin: 6em 3em;

  }

  .titulo-sessao {
    font-size: 26px;
   
  }
}

@media screen and (max-width: 375px){
  .inicio-apresetaçao{
    display: flex;
    width: 100vw;
  }

  .limitar-container{
    width: 100vw;
    
  }

  .img-logo {
    display: flex;
    width:75vw;
    margin: 6em 2em;

  }

  .titulo-sessao {
    font-size: 26px;
   
  }
}


@media screen and (max-width: 320px){
  .inicio-apresetaçao{
    display: flex;
    width: 100vw;
  }

  .limitar-container{
    width: 100vw;
    
  }

  .img-logo {
    display: flex;
    width:75vw;
    margin: 6em 2em;

  }

  .titulo-sessao {
    font-size: 26px;
   
  }

}