/* CONTAINER NAVBAR */

.container-editicon {
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: transparent;
}

.container-navbar {
  position: absolute; 
  width: 100%; 
  top: 20px; 
  display: flex; 
  justify-content: center; 
}

.container-navbar a {
    position: relative;
    z-index: 7;
    color: #000; 
    text-decoration: none; 
    margin-bottom: 15px;
    margin-left: 5px; /* Reduzido para telas pequenas */
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn-login-edicon {
    position: absolute; 
    top: 15px; 
    right: 10px; /* Ajustado para dispositivos pequenos */
    display: flex;
    align-items: center;
}

.btn-login-edicon button {
    background: none; 
    border: 0.5px solid #000; 
    border-radius: 0;
    color: #000; 
    padding: 6px 15px; /* Diminuído para dispositivos pequenos */
    cursor: pointer; 
    text-decoration: none;
}

.container-logo-editicon {
    display: flex;
    justify-content: start;
    width: 100%;
    /* margin-bottom: 10px;  */
}

.container-logo-editicon img {
    width: 60%; /* Reduzido para uma melhor adaptação na tela pequena */
    margin-left: 20px;
    margin-top: 10px;
}

.container-titulo-editicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container-titulo-editicon h2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 40px; 
    text-align: center;
    z-index: 10;  
    margin: 0;  
}

.container-titulo-editicon h2 .highlight {
    color: #6BBF59; 
    margin-right: 10px; 
}

.container-titulo-editicon p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px; 
    text-align: center;
    margin: 0;
    z-index: 9; 
 }

.retang-tit {
    position: absolute;
    z-index: 5;  
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    margin: 0;
}

.pai-container-edicao {
    display: flex;
    flex-direction: column; 
    width: 70vw; /* Reduzido para se adaptar à tela pequena */
    height: auto; /* Removido para permitir flexibilidade */
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 39px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    align-items: center; 
    margin-top: 70px;
    margin-left: 0; /* Removido para melhor ajuste */
    margin-right: 10px;
    margin-bottom: 30px;
}

.circle-container {
    width: 100px; /* Diminuído para adaptação em telas pequenas */
    height: 100px;
    background-color: #F1F1F1;
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px; 
}

.circle-container h2 .highlight {
    color: #6BBF59; 
    margin-right: 20px; /* Ajustado para telas pequenas */
}

.circle-icon {
    width: 80%; /* Reduzido para telas menores */
    height: auto; 
}

.input-container {
    display: flex; 
    justify-content: center; 
    gap: 40px; /* Reduzido para telas pequenas */
    margin-left: 5px;
}

.file-input-container {
    display: flex;
    flex-direction: column; 
    gap: 50px; /* Ajustado para telas pequenas */
    margin-bottom: 20px; 
}

.file-input {
    display: none; 
}

.file-label {
    display: flex; 
    flex-direction: column;
    background-color: #265705; 
    color: white;
    padding: 8px 15px; /* Ajustado para telas pequenas */
    margin-top: 40px; /* Ajustado para maior espaçamento */
    border-radius: 5px; 
    cursor: pointer;
}

.drop-area {
    width: 240px; /* Reduzido para telas pequenas */
    height: 80px; /* Reduzido */
    border: 2px dashed #6BBF59; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: #3F463E; 
    margin-top: 20px; /* Ajustado para menor espaçamento */
}

.btn-confirmar-action {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.confirm-button {
    display: flex;
    flex-direction: column;
   margin-right: -250px;
   margin-top: 30px;
    background-color: #6BBF59; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.confirm-button:hover {
    background-color: #5AAE4D; 
}

@media  screen and (max-width: 768px){
.pai-container-edicao{
    height: 100vh;
    /* margin-right: 10%; */

}
}

@media  screen and (max-width: 425px){
    .container-logo-editicon img{
        width: 15vw;
    }
    .pai-container-edicao{
        width: 80vw; 
        height: 75vh;
        margin-right: 5px !important;
    }

    .circle-container{
        width: 25vw;
        height: auto;
    }

    .input-container{
        font-size: 12px;
        width: 60vw;
        height: auto;
        margin: 0;
    }

    .btn-confirmar-action{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .confirm-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media  screen and (max-width: 320px){
    .container-editicon{
        position: absolute;
        margin: 0 !important;
    }
    .container-logo-editicon img {
        width: 20%; /* Ajustado para ocupar mais espaço */
    }

    .btn-login-edicon{
        margin-right: -5px !important;
    }

    .container-titulo-editicon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
       
    
    .retang-tit{
        width: 50vw;
        /* margin-bottom: 40px !important; */
        /* margin-left: 7% !important;  */
    }

    
    .container-titulo-editicon h2 {
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 20px; 
        text-align: center;
        z-index: 10;  
        margin-top: 10px;
    }

    .container-titulo-editicon p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    text-align: center;
    
    z-index: 9; 
    }

    .pai-container-edicao {
        width: 80vw; 
        height: 75vh;
        margin-top: 30px;
        margin-left: 80px;
    }

    .circle-container {
        width: 80px;
        height: 80px; 
    }

    .input-container {
        gap: 20px;
    }

    .drop-area {
        width: 200px; 
    }

    .file-label {
        padding: 8px 10px; 
    }

    .confirm-button{
        font-size: 12px;
        width: 30vw;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0;
        


    }
}

