.container-footer {
  position: relative; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: space-between; 
  margin: 0;
  padding: 0 90px; 
}

.container-footer img {
  margin: 55px 0 0 0; 
}

.container-footer p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  /* margin-top: 20px; 
  margin-bottom: 20px;  */
}

.container-footer .botao-voltar {
  position: absolute; 
  width: 80px; 
  z-index: 7;
  right: 70px; 
  bottom: 85%;
  cursor: pointer;
}

.container-footer .botao-voltar img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.container-footer-btn {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  margin-top: -80px;
  margin-bottom: 90px;
  margin-left:75px; 

 
}

.container-footer-btn a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  

}

.container-footer-btn a:hover {
  color: #E2F2DF; 
  
}

.linha-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.container-linha p {
  color: #fff;
  font-size: 14px;
  text-align: center; 
  margin-bottom: 30px; 
}

@media screen and (max-width: 768px){

  .container-footer-btn {
    display: flex;
   /* margin-right:10px ; */
    /* flex-direction: column; */
    /* align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap; */
    
    
  }

  .container-footer-btn a {
    display: flex;
    flex-direction: column;
    /* align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap; */
    
  }

}
