@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerPrincipal {
    background-color: #3F463E;
    width: 100%; 
    position: absolute; 
    top: 90%;
    overflow: hidden;
     
  }

.container-MissaoValores {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  padding: 0 5%; 
  z-index: 5; 
}

.caixa-simples {
  width: 30%; 
  height: 50vh; 
  padding: 10px; 
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #ffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  right: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center;
  position: relative;
  z-index: 6; 
}

.caixa-simples img {
  margin-bottom: 10px; 
  margin-top: 25px;
  width: 55px; 
  height: auto;
}

.titulo {
  text-align: start; 
  font-size: 32px; 
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  font-weight: bold; 
}

.texto {
  color: #000;
  margin-top: 10px; 
  font-size: 20px; 
  font-family: 'Poppins', sans-serif;
  text-align: justify; 
}



.funcionalidades-container {
  position: relative; /* Garante que os filhos com position: absolute ou fixed se posicionem em relação a este contêiner */
}

.funcionalidades-container h3 {
  color: #FFFFFF; 
  font-family: 'Poppins', sans-serif; 
  font-size: 40px;  
  text-align: center; 
  margin-top:30%;
} 

.aplicativo-container {
  display: flex;
  justify-content: space-evenly;
}

.titulo-aplicativo{
  color:#fff;
  font-family: 'Poppins', sans-serif; 
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.aplicativo-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  width: 400px;
  height: 600px;

}

.texto-aplicativo{
  color:#fff;
  font-size: 25px;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center; 
  padding: 0;
}

.aplicativo-seta{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: end;
  margin-top: 150px;
  margin-left: 5%;
}

.btn-baixeagora{
  background: none; 
    padding: 0px 5px 10px 10px; 
    cursor: pointer; 
    margin-left: 10px; 
    font-size: var(--snc-text-base); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

.btn-baixar {
    background-color: transparent;
    border: 0.5px solid #6BBF59;
    color: #fff;
    width: 20%;
    height: 50px;
    background: none; 
    padding: 5px 5px; 
    cursor: pointer; 
    margin-left: 10px; 
        
}
 

@media  screen and (max-width: 768px) {
.container-MissaoValores{
  width: 100vw;
}

.caixa-simples{
  height: 70vh;
  
}


.titulo {
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.texto{
  font-size: 16px;
  
}

.funcionalidades-container{
  height: 100vh;
  margin-top: 70% !important;
 
}


.titulo-aplicativo{
  font-size: 20px;
  
}

.texto-aplicativo{
  font-size: 14px;
  
 
}

.aplicativo-info{
  width: 10px;
}

.icone{
  width:100px
}

.arrow{
  width: 50px;
}


.btn-baixeagora{
  
  height: 15vh;
  margin-top: 30px;
}

.btn-baixar{
  width: 25vw;
  font-size: 15px;
  margin: 0;
}

.titulo-func{
  margin-top: 55% !important;
}

}

@media screen and (max-width: 425px){
  .container-MissaoValores{
    width: 200vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin-left: 80px;
  }

  .funcionalidades-container{
    height: 100vh;
   
  }

  .titulo-func{
    display: flex;
    margin-top: 275% !important;
  }

  .funcionalidades-container h3{
    font-size: 36px;
    text-align: center;
  }

  .aplicativo-info{
    width: 10px;
  }

  .icone{
    width:80px
  }

  .titulo-aplicativo{
    font-size: 15px;
    
  }

  .texto-aplicativo{
    font-size: 12px;
    
    }

    .arrow{
      width: 50px;
      /* margin-bottom: 30px; */
    }

    .btn-baixeagora{
  
      height: 20vh;
      margin-top: 30px;
    }
    
    .btn-baixar{
      width: 30vw;
      font-size: 12px;
      margin: 0;
    }
}

@media screen and (max-width: 425px){
  .container-MissaoValores{
    width: 200vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin-left: 80px;
  }

  .funcionalidades-container{
    height: 100vh;
    
   
  }

  .titulo-func{
    display: flex;
    margin-top: 330% !important;
  }

  .funcionalidades-container h3{
    font-size: 32px;
    text-align: center;
  }

  .aplicativo-info{
    width: 10px;
  }

  .icone{
    width:70px
  }

  .titulo-aplicativo{
    font-size: 14px;
    
  }

  .texto-aplicativo{
    font-size: 10px;
    
    }

    .arrow{
      width: 55px;
      gap: 30px;
    }

    .btn-baixeagora{
  
      height: 20vh;
      margin-top: 20px;
    }
    
    .btn-baixar{
      width: 30vw;
      font-size: 12px;
      margin: 0;
    }
}

@media screen and (max-width: 320px){
  .container-MissaoValores{
    width: 200vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin-left: 65px;
  }

  .caixa-simples{
    height: 80vh;
    
  }
  .titulo {
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .texto{
    font-size: 16px;
    
  }

  .funcionalidades-container{
    width: 100vw;
    height: 100vh;
   
  }

  .titulo-func{
    display: flex;
    margin-top: 445% !important;
  }

  .funcionalidades-container h3{
    font-size: 32px;
    text-align: center;
  }

  .aplicativo-info{
    width: 10px;
  }

  .icone{
    width:60px
  }

  .titulo-aplicativo{
    font-size: 10px;
    
  }

  .texto-aplicativo{
    font-size: 8px;
   
    
    }

    .arrow{
      width: 45px;
      
    }

    .btn-baixeagora{
      margin-top: -70px;
          
    }
    
    .btn-baixar{
      width: 30vw;
      height: 8vh;
      font-size: 10px;
    }
}


 
