.container-EcoPonto {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-top: 40px;
    top:60%;
    
   
  }
  
  .container-EcoPonto h2 {
    font-size: 48px;
    position: relative;
    z-index: 3;
    margin: 0; 
    
  }
  
  
  .container-EcoPonto h2 .highlight {
    color: #6BBF59; 
    display: inline; 
  }
  
  .container-EcoPonto img {
    z-index: 2;
    display: flex;
    margin-top: -30px;
   
    
  }
  
  .container-EcoPonto p {
    margin-top: 10px; 
    
   
  }
  
  .container-mapa{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .container-ajudasp img{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
     margin-bottom: 80px;
     margin-left: 70px;
  }