.pai-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffff;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.container-senha{
    width: 70vw; 
    height: 80%; 
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 39px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    margin: 20px 150px 20px;
    z-index: 7;
    position: relative; 
    display: flex; 
    justify-content: center; 
    padding: 40px; 
}

.imgum-telalogin{
    display: flex;
    width: 50%; 
    justify-content: space-between;
    margin-right: 100px;
   
}

.container-redefinir{
    flex-direction: column; 
    align-items: center; 
    margin-top: 70px;
}

.logo-telalogin {
    width: 85%;
    margin-left: 15px;
    margin-top: 10px;
}

.container-redefinir h2{
    font-size: 35px;
    text-align: center; 
    margin: 0;
    /* margin-bottom: 10px;
    margin-right: 15px; */
}

.container-redefinir p{
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
    

}

.container-redefinir input{
    width: 60%;
    height: 5px;
    color: #919890;
    background-color: #ffff;
    flex-direction: column;
    padding: 1rem;
    margin-top: 15px;
    margin-left: 65px;
    border: 0.5px solid #3F463E;
    border-radius: 5px; 
}

.btn-redef{
    width: 15vw;
    background-color: #6BBF59;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px; 
    border: none; 
    border-radius: 5px; 
    margin-left: 105px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 15px; 
}

.retornar-login{
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    color: #919890; 
    border: none; 
    padding: 5px 10px; 
    margin: 10px 10px 0 135px;
    cursor: pointer; 
}

@media  screen and (max-width: 768px){
    .container-senha{
        width: 40vw;
        padding: 15px;
        left: 10%;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        height: auto; 
    }

    .btn-redef{
        width: 20vw;
        font-size: 14px ;
        margin-left: 75px;
    }

    .retornar-login{
        margin-left: 85px !important;
    }
}

@media screen and (max-width: 425px){
    .container-senha{
        position: absolute;
        width: 40vw;
        margin-left: 80px !important;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        
    }

    .btn-redef{
        width: 30vw;
        font-size: 12px;
        margin-left: 50px;
    }

    .retornar-login{
        font-size: 12px;
        margin-left: 60px !important; 
    }
}

@media screen and (max-width: 375px){
    .container-senha{
        position: absolute;
        width: 40vw;
        margin-left: 65px !important;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        
    }

    .container-redefinir p{
        font-size: 12px !important;
        margin-left: 20px;
    }

    .btn-redef{
        width: 30vw;
        font-size: 11px;
        margin-left: 47px;
    }

    .retornar-login{
        margin-left: 47px !important;
    }
}

@media screen and (max-width: 320px){
    .container-senha{
        position: absolute;
        width: 40vw;
        margin-left: 55px !important;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        
    }

    .container-redefinir p{
        font-size: 12px !important;
        margin-left: 20px;
    }

    .btn-redef{
        width: 30vw;
        font-size: 10px;
        margin-left: 35px;
    }

    .retornar-login{
        margin-left: 30px !important;
    }
}