.container-addartigos{
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: transparent
}

.container-navbar{
    position: absolute; 
    width: 100%; 
    top: 20px; 
    display: flex; 
    justify-content: center; 
     
  }
   
  
.container-navbar a{
      position: relative;
      z-index: 7;
      color: #000; 
      text-decoration: none; 
      margin-bottom: 15px;
      margin-left: 20px;
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
.btn-login-addartigos{
      position: absolute; 
      top: 15px; 
      right: 30px; 
      display: flex;
      align-items: center;
  }
  
.btn-login-addartigos button{
      background: none; 
      border: 0.5px solid #000; 
      border-radius: 0;
      color: #000; 
      padding: 8px 25px; 
      cursor: pointer; 
      text-decoration: none;
      
  }
    
.container-logo {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-bottom: 10px; 
      
  }

   
.container-logo img{
      width: 60%;
      margin-left: 40px;
      margin-top: 10px;
}

 /* container noticia */

.container-tit{
    display: flex;
    flex-direction: column;
}


.container-tit h3{
    font-size: 36px;
    text-align: center;
    z-index: 7;
    margin-bottom: 5px;
    
}

.highlight {
    color: #6BBF59; 
    
}

.retang-coleta-addartigos{
    position: absolute; 
    z-index: 1;
    top: 125px; 
    left: 37vw; 
    display: flex;
    margin: 0;

}

.container-tit p{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    margin: 0 10px 25px 5px;
}

.pai-container-addnoticia{
    width: 85vw; 
    height: 100vh; 
    background-color: #F1F1F1;
    border: 0.5px solid transparent;
    border-radius: 39px;
    box-shadow: 1px 3px 10px 9px rgba(0, 0, 0, 0.16);
    margin: 20px 80px 20px;
    z-index: 7;
    position: relative; 
    display: flex; 
    justify-content: center; 
    padding: 40px; 
  }

  .container-info-crud{
    display: flex;
    flex-direction: column; 
    width: 40vw;
   
}

.container-info-crud input{
    width: 32vw;
    padding: 20px 0px 20px 0px;
    height: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    margin-top: 5vh;
    margin-bottom: 100px;
    margin-right: 10vw;
}

.container-info-crud input:hover {
    cursor: pointer;
}

.container-info-crud img {
    width: 32vw;
    height: 40vh;
    z-index: 10;
}

.container-info-crud .img-preview {
    background-color: #D9D9D9;
    width: 32vw;
    height: 40vh;
}

.container-info-crud button {
    width: 15vw;
    background-color: #6BBF59;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    padding: 15px 10px 15px 10px;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    z-index: 7;
    margin-left: 5vw;
}

.container-info-crud span{
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}

.container-addnoticia .title-input {
    font-size: 20px;
    font-weight: bold;
}

.container-addnoticia input {
    width: 41vw; 
    height: auto;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    padding: 10px; 
    margin-top: 30px;
}

.container-addnoticia textarea {
    width: 90%; 
    height: 40%;
    background-color: #D9D9D9;
    border: 0.5px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px; 
}

select {
    width: 43vw; 
    padding: 5px; 
    border: 1px solid #6BBF59; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    font-size: 16px; 
    color: #6BBF59; 
    appearance: none; 
    margin-top: 40px;
}

@media  screen and (max-width: 768px){
    .retang-coleta-addartigos{
       margin-left: -12% !important;
      
    }

    .pai-container-addnoticia{
        right: 5%;
    }

    .container-info-crud{
        width: 70vw;
    }

    .container-info-crud button{
        font-size: 14px;
    }
}

@media  screen and (max-width: 425px){

    .container-addartigos {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 10px;
        /* margin: 0 !important; */
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    /* Container da navbar */
    .container-navbar {
        display: flex; 
    justify-content: center; 
    flex: 1; 
    z-index: 1;
    margin-left: 5%;
    }

    .container-navbar a {
        position: absolute;
        z-index: 7;
        color: #000;
        text-decoration: none;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Ajustes do botão de login */
    .btn-login-addartigos {
        position: absolute;
        top: 15px;
        left: 94% !important;
        display: flex;
        align-items: center;
    }

    .btn-login-addartigos button {
        background: none;
        border: 0.5px solid #000;
        border-radius: 0;
        color: #000;
        padding: 8px 20px;
        cursor: pointer;
        text-decoration: none;
    }

    .container-tit h3{
        margin-left: 80px !important;
        /* margin-left: 100px; */
    }

    .container-tit p{
        font-size: 14px;
        margin-left: 80px !important;
    }

    .retang-coleta-addartigos{
        width: 90vw;
        left: 28% !important;
    }

    .pai-container-addnoticia{
        right: 12%;
        gap: 20px !important;
    }

    .container-info-crud input{
        width: 5vw;
        
    }

    .container-info-crud button{
        width: 20vw;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-addnoticia input, 
    .container-addnoticia select, 
    .container-addnoticia textarea{
        width: 35vw;
    }
    
}

@media  screen and (max-width: 375px){
    .container-tit h3{
        font-size: 34px;
        margin-left: 70px !important;
        margin-bottom: 10px !important;
        
    }

    .container-tit p{
        font-size: 12px;
        margin-left: 80px !important;
    }

    .pai-container-addnoticia{
        right: 14%;
        gap: 20px !important;
    }

    .container-info-crud input{
        width: 5vw;
        
    }

    .container-info-crud button{
        width: 20vw;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-addnoticia input, 
    .container-addnoticia select, 
    .container-addnoticia textarea{
        width: 30vw;

    }
    
}


@media  screen and (max-width: 320px){
    .container-tit h3{
        font-size: 26px;
        margin-left: 70px !important;
        margin-top: 50px !important;
        
        
    }

    .container-tit p{
        font-size: 10px;
        margin-left: 80px !important;
    }

    .pai-container-addnoticia{
        right: 18%;
        gap: 20px !important;
    }

    .container-info-crud input{
        width: 1vw;
        height: 30vh;
        
    }

    .container-info-crud button{
        width: 20vw;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-addnoticia input, 
    .container-addnoticia select, 
    .container-addnoticia textarea{
        width: 30vw;

    }

    .container-info-crud button{
        width: 20vw;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
}




